---
import MainLayout from "../layouts/MainLayout.astro"
import Section from "../components/Section.astro"
import DownArrow from "../assets/down-arrow.svg?raw"
---

<MainLayout>
    <main class="Container">
        <Section title="Model 3"
        description="<p>Leasing starting at $399/mo</p>"
        leftBtnText="Custom Order"
        rightBtnText="Demo Drive"
        backgroundImg="Homepage-Model-3.jpg"
        svg={`<a href="#ModelY">${DownArrow}</a>`}
        />
        <Section title="Model Y"
        id="ModelY"
        leftBtnText="Custom Order"
        rightBtnText="Demo Drive"
        backgroundImg="Homepage-Model-Y.jpg"
        />
        <Section title="Model S"
        description='<a href="#">Schedule a Demo Drive</a>'
        leftBtnText="Custom Order"
        rightBtnText="View Inventory"
        backgroundImg="Homepage-Model-S.jpg"
        />
        <Section title="Model X"
        description='<a href="#">Schedule a Demo Drive</a>'
        leftBtnText="Custom Order"
        rightBtnText="View Inventory"
        backgroundImg="Homepage-Model-X.jpg"
        />
        <Section title="Solar Panels"
        description="<p>Lowest Cost Solar Panels in America</p>"
        leftBtnText="Order Now"
        rightBtnText="Learn More"
        backgroundImg="Homepage-Solar-Panels.jpg"
        />
        <Section title="Solar Roof"
        description="<p>Produce Clean Energy From Your Roof</p>"
        leftBtnText="Order Now"
        rightBtnText="Learn More"
        backgroundImg="Homepage-Solar-Roof.jpg"
        />
        <Section title="Accessories"
        leftBtnText="Shop Now"
        backgroundImg="Homepage-Accessories.jpg"
        />
    </main>
</MainLayout>
<style lang="scss">
.Container {
	height: 100vh;
	overflow: scroll;
	overflow-x: hidden;
    scroll-snap-type: y mandatory;
    
    a {
        text-decoration: underline;
    }
}
</style>